@import "tailwindcss";

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

/* Optional Preline UI Datepicker Plugin */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Plugins */
@plugin "@tailwindcss/forms";

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* base */
  --color-background: #f1f5fb;
  --color-foreground: #464a4c;

  /* brand solids */
  --color-primary: #f1477a; /* pink */
  --color-secondary: #FB923C;   /* orange */

  /* gradient built from solids */
  --gradient-primary: linear-gradient(
    -90deg,
    var(--color-secondary) 0%,
    var(--color-primary) 100%
  );

  /* surfaces */
  --color-surface: #ffffff;
  --color-surface-foreground: #1f2937;

  /* support */
  --color-muted: #6b7280;
  --color-border: #e5e7eb;

  /* breakpoints */
  --breakpoint-xs: 32rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}
